<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/credit.css">
</head>
<body>
	<!--navigation bar-->
	<section>
    <nav>
        <div id="logo"><img src="/images/logo.jpg" class="logo">PORTFOLIO</div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/credit">About Me</a></li>
            <li><a href="/listing">Projects</a></li>
            <li><a href="/listing2">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            
            
          </ul>
    </nav>
  </section>

  <!--About Me-->
  	<section class="site">
  		<div class="row">
  			<div class="column">
    			<img src="/images/profilepic.jpg">
  			</div>
  		<div class="column">
    		<p>As a coder, I am pushed by my intense desire to learn new things and my love of fixing problems. Since I know a lot about computer languages and tools, I can solve hard problems in a creative and precise way. I work best in settings where people work together. I use my strong speaking skills to work well with team members and get great results. I'm always looking to improve, so I keep up with the latest industry trends and tools and keep adding to my skill set. This helps me stay ahead in the constantly changing field of programming.</p>

                <p>I am a current Centennial College student working for a diploma in Software Engineering.  

                Some of the modest projects I've worked on may be seen on the projects page. </p>

            <p>Every bit of code I write is clean, efficient, and well-optimized because I pay close attention to detail and strive for greatness. I approach projects with a strategic mind, breaking down complicated tasks into steps that I can handle to make solutions that work well and can be scaled up. Because I am committed to learning new things and can easily adapt to new tools, I am a useful asset in any computer setting.
            </p>
  		</div>
	</div>
  </section>


  <!--footer-->
  <section>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Kunal Patel</h3>
            <p class="footer-links">
              <a href="index.html">Home</a>
              |
              <a href="/credit">About Me</a>
              |
              <a href="/listing2">Services</a>
              |
              <a href="/contact">Contact</a>
            </p>
            <p class="footer-company-name">© KUNAL PATEL.</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>20 Tuxedo Crt ,
                Apt No. 1515, Toronto</span>
                Ontario, Canada</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+1 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:pakunalp@gmail.com">pakunalp@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About Me</span>
                I'm a student and I help building small projects. 
            </p>
            <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook">FB</i></a>
          <a href="#"><i class="fa fa-twitter"></i>Tw</a>
          <a href="#"><i class="fa fa-instagram">IG</i></a>
          <a href="#"><i class="fa fa-linkedin">LIn</i></a>
          <a href="#"><i class="fa fa-youtube">YO</i></a>
        </div>
    </div>
</footer>
</section>

</body>
</html>