<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EXPRESS PORTFOLIO</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
	<!--navigation bar-->
	<section>
    <nav>
      <div id="logo"><img src="/images/logo.jpg" class="logo">PORTFOLIO</div>
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
          <li><a href="/">Home</a></li>
		  <li><a href="/credit">About Me</a></li>
          <li><a href="/listing">Projects</a></li>
          <li><a href="/listing2">Services</a></li>
		  <li><a href="/contact">Contact</a></li>
          
          
        </ul>
    </nav>
  </section>

	<!--slider section-->
	<section>
		<div id="slider">
			<figure>
				<img src="/images/1.jpg">
				<img src="/images/2.jpg">
				<img src="/images/3.png">
				<img src="/images/5.jpeg">
				<img src="/images/6.jpeg">
			</figure>
		</div>
	</section>

	<!--about section-->

	<!--vision, Mission, -->
	<section class="vision">
		<div class="container">
			<div class="DIV_1">
				<div class="DIV_2">
					<h3 class="H3_3">
						Mission
					</h3>
					<p class="P_4">
						My mission is to empower programmers worldwide by providing them with a platform to showcase my skills, build a strong professional network, and unlock opportunities for career growth. 

					</p>
				</div>
			</div>
			<div class="DIV_1">
				<div class="DIV_2">
					<h3 class="H3_3">
						Vision
					</h3>
					<p class="P_4">
						My vision is to revolutionize the way programmers connect, collaborate, and thrive in the digital era. . 

					</p>
				</div>
			</div>
			<div class="DIV_1">
				<div class="DIV_2">
					<h3 class="H3_3">
						Values
					</h3>
					<p class="P_4">
						I am driven by a set of core values that guide our actions, decisions, and interactions within technical community. These values form the foundation of my platform and reflect my commitment to providing a positive, inclusive, and empowering experience for programmers.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!--about sectin-->
	<section>
		<div class="row">
  			<div class="col col-2-1">
    			<h1>
    				Agam Patel
    			</h1>
    			<h2>
    				Senior Colleague, CENTENNIAL COLLEGE
    			</h2>
    			<p>I am delighted to provide this recommendation for Kunal Patel. As Kual's senior colleague, I have had the privilege of witnessing his exceptional skills, work ethic, and dedication firsthand. </p>

    			<p> Kunal consistently demonstrates a deep understanding of programming concepts and an ability to tackle complex challenges with ease. His technical proficiency and problem-solving abilities are truly impressive. He have an innate ability to break down complex problems into manageable components and develop innovative solutions.</p>
  			</div>
  			<div class="col col-2-1">
    			<img src="/images/agent.png">
  			</div>
		</div>
	</section>

	<!--testimonial section-->
	<section class="testimonial">
		<figure class="test">
			<figcaption>
    			<blockquote>
      				<p>Kunal is an incredibly talented and skilled programmer. He a natural aptitude for coding and a keen eye for detail.</p>
   	 			</blockquote>
    			<h3>Anonymous Review</h3>
    			<h4>Friend</h4>
  			</figcaption>
  		</figure>
  		<figure class="test">
			<figcaption>
    			<blockquote>
      				<p>Has a strong work ethic and always strives to deliver the best possible results.</p>
   	 			</blockquote>
    			<h3>Anonymous Review</h3>
    			<h4>Friend</h4>
  			</figcaption>
  		</figure>
  		<figure class="test">
			<figcaption>
    			<blockquote>
      				<p>Beyond his technical expertise, Kunal is an exceptional team player and collaborator. </p>
   	 			</blockquote>
    			<h3>Anonymous Review</h3>
    			<h4>Friend</h4>
  			</figcaption>
  		</figure>
	</section>
		
	<!--footer-->
      <section>
            <footer class="footer-distributed">
                <div class="footer-left">
                    <h3>Kunal Patel</h3>
                    <p class="footer-links">
                      <a href="index.html">Home</a>
                      |
                      <a href="/credit">About Me</a>
                      |
                      <a href="/listing2">Services</a>
                      |
                      <a href="/contact">Contact</a>
                    </p>
                    <p class="footer-company-name">© KUNAL PATEL.</p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>20 Tuxedo Crt ,
                        Apt No. 1515, Toronto</span>
                        Ontario, Canada</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+1 22-27782183</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:pakunalp@gmail.com">pakunalp@gmail.com</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>About Me</span>
                        I'm a student and I help building small projects. 
                    </p>
                    <div class="footer-icons">
                  <a href="#"><i class="fa fa-facebook">FB</i></a>
                  <a href="#"><i class="fa fa-twitter"></i>Tw</a>
                  <a href="#"><i class="fa fa-instagram">IG</i></a>
                  <a href="#"><i class="fa fa-linkedin">LIn</i></a>
                  <a href="#"><i class="fa fa-youtube">YO</i></a>
                </div>
            </div>
        </footer>
    </section>
    
</body>
</html>