<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/listing.css">
</head>
<body class="container">

    <!--navigation bar-->
    <section>
        <nav>
            <div id="logo"><img src="/images/logo.jpg" class="logo">PORTFOLIO</div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/credit">About Me</a></li>
                <li><a href="/listing">Projects</a></li>
                <li><a href="/listing2">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                
                
              </ul>
        </nav>
  </section>

    
    
    <!--listing section-->
    <section class="homes">
             
            <!--1st Project-->
            <div class="home">
                <img src="images/raustic1.jpg"  class="home__img">
                <h5 class="home__name">Narural Reserve Project</h5>
                <div class="home__location">
                    <p>My professor gave me the assignment to create a blog-like website on a single Canadian nature preserve. 
                    </p>
                </div>
                <div class="home__rooms">
                    <p>Centennial College</p>
                </div>
                
                <button class="btn home__btn">PROJECT 1</button>
            </div>

            <!-- 2nd Project-->
            <div class="home">
                <img src="images/castle1.jpg" class="home__img">
                <h5 class="home__name">Multiplication Table Generator</h5>
                <div class="home__location">
                    <p>This project is completely functioning, in that it creates a table of multiplication and accepts input from the user. 
                    </p>
                </div>
                <div class="home__rooms">
                    <p>Centennial College</p>
                </div>
                
                <button class="btn home__btn">PROJECT 2</button>
            </div>

            <!--3rd Project-->
            <div class="home">
                <img src="images/villa1.jpg"  class="home__img">
                <h5 class="home__name">Bug Catcher Game</h5>
                <div class="home__location">
                    <p>For this assignment, I built an interactive bug-catching game in which the player's score grows in proportion to the number of times he or she clicks on the insect, and vice versa. 
                    </p>
                </div>
                <div class="home__rooms">
                    <p>Centennial College</p>
                </div>
               
                <button class="btn home__btn">PROJECT 3</button>
            </div>            
        </div>
    </section>


    <!--footer-->
    <section>
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Kunal Patel</h3>
                <p class="footer-links">
                  <a href="index.html">Home</a>
                  |
                  <a href="/credit">About Me</a>
                  |
                  <a href="/listing2">Services</a>
                  |
                  <a href="/contact">Contact</a>
                </p>
                <p class="footer-company-name">© KUNAL PATEL.</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>20 Tuxedo Crt ,
                    Apt No. 1515, Toronto</span>
                    Ontario, Canada</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 22-27782183</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:pakunalp@gmail.com">pakunalp@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About Me</span>
                    I'm a student and I help building small projects. 
                </p>
                <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook">FB</i></a>
              <a href="#"><i class="fa fa-twitter"></i>Tw</a>
              <a href="#"><i class="fa fa-instagram">IG</i></a>
              <a href="#"><i class="fa fa-linkedin">LIn</i></a>
              <a href="#"><i class="fa fa-youtube">YO</i></a>
            </div>
        </div>
    </footer>
</section>
        
                
</body>
</html>