<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REAL ESTATE</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/listing2.css">
</head>
<body class="container">

    <!--navigation bar-->
    <section>
        <nav>
            <div id="logo"><img src="/images/logo.jpg" class="logo">PORTFOLIO</div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/credit">About Me</a></li>
                <li><a href="/listing">Projects</a></li>
                <li><a href="/listing2">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                
                
              </ul>
        </nav>
  </section>
        
    <!--listing section-->
    <section class="homes">
             <!--1st property-->
            <!--1st Project-->
            <div class="home">
                <img src="images/service1.png"  class="home__img">
                <h5 class="home__name">Software Development</h5>
                <div class="home__location">
                    <p>With expertise in coding languages and frameworks, I can offer software development services, creating custom applications, websites, or software solutions tailored to meet the specific needs of clients.  
                    </p>
                </div>
                <div class="home__rooms">
                    <p>I can handle the entire development lifecycle, from requirements gathering to design, implementation, testing, and deployment in future.</p>
                </div>
                
                <button class="btn home__btn">SERVICE 1</button>
            </div>

            <!-- 2nd Project-->
            <div class="home">
                <img src="images/service2.jpg" class="home__img">
                <h5 class="home__name">Code Review and Optimization</h5>
                <div class="home__location">
                    <p>I can provide code review and optimisation services by making use of my excellent attention to detail and solid knowledge of programming best practises.
 
                    </p>
                </div>
                <div class="home__rooms">
                    <p> If you have an existing codebase, I can analyse it extensively to find places it might run faster, scale better, and be easier to maintain.</p>
                </div>
                
                <button class="btn home__btn">SERVICE 2</button>
            </div>

            <!--3rd Project-->
            <div class="home">
                <img src="images/service3.jpg"  class="home__img">
                <h5 class="home__name">Technical Consultation</h5>
                <div class="home__location">
                    <p>My consultancy services help customers solve technical problems by drawing on my expertise and ability to think creatively about solutions. 
                    </p>
                </div>
                <div class="home__rooms">
                    <p>Clients may benefit from my knowledge, advice, and tactics for solving a wide range of programming problems, architectural dilemmas, and technological choices.</p>
                </div>
               
                <button class="btn home__btn">SERVICE 3</button>
            </div>            
        </div>
    </section>

    <!--footer-->
    <section>
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Kunal Patel</h3>
                <p class="footer-links">
                  <a href="index.html">Home</a>
                  |
                  <a href="/credit">About Me</a>
                  |
                  <a href="/listing2">Services</a>
                  |
                  <a href="/contact">Contact</a>
                </p>
                <p class="footer-company-name">© KUNAL PATEL.</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>20 Tuxedo Crt ,
                    Apt No. 1515, Toronto</span>
                    Ontario, Canada</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 22-27782183</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:pakunalp@gmail.com">pakunalp@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About Me</span>
                    I'm a student and I help building small projects. 
                </p>
                <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook">FB</i></a>
              <a href="#"><i class="fa fa-twitter"></i>Tw</a>
              <a href="#"><i class="fa fa-instagram">IG</i></a>
              <a href="#"><i class="fa fa-linkedin">LIn</i></a>
              <a href="#"><i class="fa fa-youtube">YO</i></a>
            </div>
        </div>
    </footer>
</section>
        
                
</body>
</html>